body{
    background-color: powderblue ;
    min-height: 100vh;
}

input, textarea {
    width:70%;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
  }

.main-section {
    margin: 0 auto;
    margin-top: 150px;
    padding: 0;
    position: relative;
}

.modal-content {
    background-color: #34495e;
    opacity: .95;
}
