{% extends 'base.html' %}
{% block content %}    
            <form action="" method="post" class="add">
                    <h1>Create Your Task</h1>
                    <br>
                    <div>
                        <p>Name of Task: </p>
                        <input type="text" name="body" placeholder="Ex: CMPE131 midterm" required>
                        <br>
                        <!-- <p>Date: </p>
                        <input type="datetime-local" name="due" placeholder="Ex: 11/25/2019" required>
                        <br><br> -->
                        <!-- <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Description</span>
                                  <br><br>
                                </div>
                                <textarea class="form-control" aria-label="With textarea" placeholder="Ex: Review last 3 chapters"></textarea>
                              </div>
                    </div> -->
                    <br>
                    <div>
                            <button type="button" class="btn btn-primary">Create</button>
                        <br>
                        <br>
                    </div>
            </form>
{% endblock content %} 
