{% extends 'base.html' %}
{% block content %}    
<h1>Create Your Task</h1>
<br>
<form action="" method="post" class="add">
  {{ form.hidden_tag() }}
  <legend><h2>{{ legend }}</h2></legend>
  {% if legend == 'Add' %}
    <div>
      <p>Name of Task: </p>
      <input type="text" name="nameTitle" placeholder="Ex: CMPE131 midterm" required>
      <br><br>
      <div>
      <textarea name="content" placeholder="Content"></textarea>
      </div>
    </div>
    <br>
  {% else %}
    <div>
      <p>Name of Task: </p>
      <input type="text" name="nameTitle" placeholder="Ex: CMPE131 midterm" value={{post.nameTitle}} required>
      <br><br>
      <div>
      <textarea name="content" placeholder="Content" value={{post.content}}></textarea>
      </div>
    </div>
  {% endif %}
    <br>
  <div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>


</form>
            
{% endblock content %} 
